<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fine_app">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Fine_app">
        <activity
            android:name=".ui.MyPage.UpdateProfileActivity"
            android:exported="false" />
        <activity
            android:name=".ui.MyPage.ManagePostActivity"
            android:exported="false">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="fine">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".ui.Community.PostDetail_Main"
            android:exported="true"/>
        <activity
            android:name=".ui.Community.Posting"
            android:exported="true"/>
    </application>

</manifest>